


.image-slider-container {
  height: auto;
  position: relative;
  width: 1440px;
  overflow: hidden;
  display: fixed;
  outline: none;
  border-width: 0;
  border: none;
}
.image {
  height: 550px;
  width: 1440px;
  border: none;
  outline: none;
  border-width: 0;
}

.loading {
  height: 8px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
}
.ft-slick__dots--custom {
  height: 14px;
  width: 14px;
  background-color: #e5e7e9;
  border-radius: 100%;
  position: relative;
  bottom: 35px;
  justify-content: center;
  align-items: center;
}
.slick-active .ft-slick__dots--custom {
  background-color: #da4b07; /* Seçilen noktanın arka plan rengini belirleyebilirsiniz */
}

.header-content {
  position: absolute;
  top: 217px;
  background-color: height;
}
.header-content-title {
  margin-top: 53px;
  width: 1026px;
  height: 135px;
  padding: 9px 0 35px 22px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
