.image-slider-container {
  height: 204px;
  width: 270px;
  overflow: hidden;
  outline: none;
  border-width: 0;
  border: none;
}
.card {
  height: 204px;
  width: 270px;
  border: none;
  outline: none;
  border-width: 0;
}
