.Slider {
  position: relative;
  min-height: 550px;
  z-index: 1;
  box-sizing: content-box;
  display: block;
  border-width: 0;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  background: #da4b07;
}

.header-content {
  position: absolute;
  top: 217px;
  margin-left: 150px;
}
.header-content-title {
  margin-top: 53px;
  width: 1026px;
  height: 135px;
  padding: 9px 0 35px 22px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.header-content-title-one {
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 30%;
  color: #fff;
  text-transform: uppercase;
}
.header-content-title-two {
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 30%;
  color: #fff;
  text-transform: none;
  margin-top: 8px;
  margin-left: 3px;
}
.underbar {
  width: 100%;
  height: 50px;
  background: #da4b07;
  color: #fff;
  min-height: 38px;
  height: auto;
  padding-top: 7px;
}

.underbar-text {
  -ms-flex-item-align: center;
  align-self: center;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.5px;
  margin-top: 5px;
  text-align: center;
}
