.attractions-header {
  width: 100%;
  height: 550px;
  justify-content: center;
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.title-container {
  width: 1140px;
  min-width: 1140px;
}
.header-title {
  width: 840px;
  height: 135px;

  padding-top: 9px;
}
.title {
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  font-size: 48px;
  margin-left: 22px;
  line-height: 62px;
}
.subtitle {
  font-family: Open Sans Semibold, sans-serif;
  font-weight: 600;
  color: #fff;
  font-size: 22px;
  line-height: 29px;
  margin-left: 25px;
}
.author {
  position: absolute;
  text-align: right;
  margin: -25px 0 -25px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #f9f9fb;
  opacity: 0.9;
  width: 1140px;
  min-width: 1140px;
}
.category-tab {
  display: flex;
  justify-content: center;
  margin-top: -99px;
}
.category-container {
  display: flex;
  background: #252c3e;

  flex-direction: column;
  width: 1141px;
  min-height: 209px;
  border-radius: 20px;
  height: auto;
  padding-bottom: 30px;
}
.row-filters {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-left: 15px;
}
.input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  width: 274px;
  user-select: none;
  height: 37px;
  background: #fff;
  border-radius: 5px;
  border: none;

  margin-top: 20px;
  margin-left: 10px;
}
.input {
  user-select: none;
  width: 270px;
  outline: none;
  border: none;
  border-radius: 5px;
  padding-left: 10px;
  text-indent: 15px;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
}
.row-main-category {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 5px;
  margin-top: 5px;
}
.all-category {
  padding: 12px 20px;
  height: 45px;
  margin-left: 15px;
  margin-top: 12px;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #fff;
  color: #fff;
  padding: 12px 20px;
  font-family: Open Sans Bold, sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 17px;

  line-height: 21px;
}
.all-category:hover {
  background: white;
  color: black;
}
.category {
  padding: 12px 20px;
  height: 45px;
  margin-left: 15px;
  margin-top: 12px;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #fff;
  color: #fff;
  padding: 12px 20px;
  font-family: Open Sans Bold, sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  cursor: pointer;
  align-items: center;
  user-select: none;
}
.category:hover {
  background: white;
  color: black;
}
.selected {
  padding: 12px 20px;
  height: 45px;
  margin-left: 15px;
  margin-top: 12px;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #fff;
  color: black;
  background: white;
  padding: 12px 20px;
  font-family: Open Sans Bold, sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  cursor: pointer;
  align-items: center;
  user-select: none;
}
.seperator {
  width: 100%;
  height: 0;
  border: 1px solid #ef5106;
  background: #ef5106;
  margin-top: 12px;
  margin-right: 15px;
  margin-left: 15px;
}
.row-tours {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}
.all-attractions {
  margin-top: 61px;
  display: flex;
  justify-content: center;
}
.body-container {
  width: 1140px;
  min-width: 1140px;
}
.content-header {
  display: flex;
  flex-direction: row;
  width: 100%;

  align-items: center;
}
.switch-buttons {
  display: flex;
  flex-direction: row;
  margin-left: 59px;
  column-gap: 15px;
  cursor: pointer;
}
.region-button {
  height: 35px;
  background: #fff;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  text-transform: capitalize;
  border: 1px solid #dbdbdb;
  width: 198px;
  cursor: pointer;
  font-family: Open Sans, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: #252527;
  text-align: start;
  padding-left: 15px;
  margin-left: 20px;
}
.menu-item {
  height: 35px;
  background: #fff;
  position: relative;
  cursor: pointer;
  text-transform: capitalize;
  border: 0 solid #dbdbdb;
  width: 100%;
  border-right-width: 0;
  cursor: pointer;
  font-family: Open Sans, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 23px;
  color: #252527;
  text-align: start;
  padding-left: 15px;
}
.menu-item:hover {
  background: #dbdbdb;
}
.toggle-calculator {
  width: 269px;
  height: 37px;
  margin-left: auto;
  background: #252c3e;
  border-radius: 5px;
  box-sizing: border-box;
  padding-left: 15px;
  cursor: pointer;
  align-items: center;
  font-family: Open Sans, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: #fff;
  text-transform: capitalize;
  display: flex;
}
.toggle-calculator:hover {
  background: #2f384f;
}
.main-content {
  display: grid;
  grid-template-columns: 850px 269px;
  min-height: 650px;
  column-gap: 21px;
  height: auto;
}
.attractions {
  display: block;
}
.attractions-grid {
  display: grid;
  column-gap: 20px;
  row-gap: 15px;
  grid-template-columns: repeat(3, 1fr);
}
.fourattractions-grid {
  width: 100%;
  display: grid;
  column-gap: 20px;
  row-gap: 15px;
  grid-template-columns: repeat(4, 1fr);
}
.area-heart-image {
  height: 24px;
  width: 24px;
}
.calculator-cotainer {
  min-height: 320px;
  height: auto;
  width: 270px;
  position: sticky;
  top: 10px;
}
.calculator-header {
  border-radius: 10px 10px 0 0;
  background-color: #252c3e;
  width: 270px;
  height: 60px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  color: white;
}
.liked-attractions-title {
  height: 20px;
  text-align: right;
  padding-right: 10px;
  margin-bottom: 3px;
}
.calculator-selected-card-adult {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  text-transform: capitalize;
  color: #2f384f;
}
.attractions-list {
  box-sizing: border-box;
  width: 100%;
  list-style-type: none;
}
.attractions-list ul li {
  box-sizing: border-box;
  width: 100%;
  min-height: 31px;
  background: #fff;
  display: flex;
  align-items: center;
  padding: 8px 4px 7px 10px;
  background: red;
  list-style: none;
}
.attractions-list-title {
  font-family: Open Sans, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #252c3e;
  text-transform: capitalize;
  margin-right: 5px;
}
.attractions-list-price {
  font-family: Open Sans, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  margin-left: auto;
  min-width: 50px;
  color: rgba(37, 44, 62, 0.6);
}
.attractions-list_delete {
  width: 16px;
  height: 16px;
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
  background: url(../images/delete.png) 50% no-repeat;
  cursor: pointer;
  margin-left: 3px;
}
.calculator-header-text {
  font-family: Open Sans Bold, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}
.calculator-body {
  background: #f9f9fb;
  height: 367px;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
}
.calculator-none-fav {
  font-family: Open Sans Semibold, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #da4b07;
  margin: auto 16px;
}
.calculator-footer-button {
  width: 270px;
  height: 60px;
  border-radius: 0 0 10px 10px;
  background: #dbdbdb;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-align: center;
  cursor: pointer;
}
.calculator-footer-button-text {
  font-family: Open Sans Bold, sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
  color: #fff;
}
.clear-button-container {
  background: #f9f9fb;
  padding: 0 4px 4px;
}
.clear-button {
  width: 100%;
  height: 32px;
  background: #fff;

  display: flex;

  justify-content: center;

  align-items: center;
  cursor: pointer;
}
.clear {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  color: #da4b07;
}
.region-list {
  max-height: 200px;
  overflow-y: scroll;
  overflow-x: none;
  width: 198px;

  border-width: 1;
}
@media screen and (max-width: 720px) and (min-width: 320px) {
}
