.Header {
  position: fixed;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 43px;
  width: 100%;
  background: rgba(37, 44, 62, 0.6);
  z-index: 120;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  align-items: center;
}
.Header.hide {
  transform: translateY(-100%);
}
.Header.show {
  transform: translateZ();
}

.CoolPass {
  display: flex;
  align-self: center;
  font-size: 22px;
  color: white;
  justify-content: flex-end;
  width: auto;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}
.HeadMid {
  min-width: 70%;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  column-gap: 10px;
}
.HeadMidText {
  font-size: 16px;
  color: white;
  cursor: pointer;
  text-decoration: none;
}
.HeadMidText-clicable {
  border-bottom: 1px solid #da4b07;
}
.HeadButtons {
  width: auto;
  justify-content: flex-start;
  display: flex;
}
.Button {
  width: auto;
  justify-content: flex-start;
}
.ButtonOne {
  width: auto;
  border-width: 0;
  background-color: #fb5a03;
  font-size: 15px;
  color: white;
  border-radius: 5px;
  height: 30px;
  align-self: flex-start;
  justify-content: center;
  cursor: pointer;
}

.asd {
  background-color: #252c3e;
  border-width: 0;
  border-radius: 5px;
  margin-left: 20px;
  width: auto;
  font-size: 15px;
  color: white;
  text-align: center;
  height: 30px;
  align-self: center;
  cursor: pointer;
}

.ButtonMenu {
  background-color: #252c3e;
  border-radius: 5px;
  border-width: 1;
  color: white;
  min-width: 150px;
  width: auto;
}
.MenuButton {
  background-color: #252c3e;
  border-width: 0;
  font-size: 14px;
  color: white;
  border-radius: 5px;
  margin-top: 2px;
  height: 30px;
  text-align: center;
  cursor: pointer;
  width: auto;
}
.m-navbar {
  display: none;
}
@media screen and (max-width: 720px) {
  .HeadMid {
    display: none;
    justify-content: center;
  }

  .HeadButtons {
    display: none;
  }
  .CoolPass {
    display: none;
  }
  .m-navbar {
    display: flex;
    max-width: 720px;
    width: 100%;
  }
  .Header {
    height: 56px;
  }
  .left-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    -webkit-box-align: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-box-pack: start;
    justify-content: flex-start;
    height: 56px;
    width: auto;
  }
  .left-nav.li {
    list-style: none;
  }
  .burger {
    background-size: cover;
    position: relative;
    cursor: pointer;
    display: block;
    width: 27px !important;
    height: auto;
    margin-right: 10px;
    margin-left: 10px;
    border: none;
    background: none;
    transition: 0.5s ease-in-out;
  }
  .right-nav {
    display: flex;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
    flex-direction: unset;
    margin-right: 0 !important;
    height: auto;
    align-items: center;
  }
  .logo {
    font-family: Marselis Pro, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 130%;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    margin-right: auto;
    margin-top: 6px;
    margin-bottom: 7px;
  }

  .center-nav {
    display: flex;
    position: absolute;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    flex-direction: column;
    -webkit-box-ordinal-group: 4;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    order: 3;
    height: 375px;
    flex: 0 0 100%;
    background: #727580;
    padding-top: 40px;
    left: 0;
    right: 0;
    margin: 0;
    top: 100%;
    overflow: hidden;
    z-index: -1;
    justify-content: center;
  }
  .center-nav-container {
    font-family: Open Sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 130%;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    margin-top: 11px;
    margin-bottom: 14px;
    margin-right: 30px;
    white-space: nowrap;
  }
  .navbar-link {
    font-family: Open Sans Bold, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #fff;
    margin: 0 0 30px;
    padding-left: 30px;
  }
  .ButtonOne {
    width: auto;
    border-width: 0;
    background-color: #fb5a03;
    font-size: 15px;
    color: white;
    border-radius: 5px;
    height: auto;
    align-self: center;
    justify-content: center;
    cursor: pointer;

    margin-right: 10px !important;
    min-width: 105px;
    height: 35px;
  }
  .asd {
    margin-right: 10px;
    background-color: #252c3e;
    width: auto;
    min-width: 65px;
    padding: 0 20px;
    height: 35px;
    background-color: #252c3e;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: Open Sans Bold, sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 35px;
    display: flex;
    -webkit-box-pack: start;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    position: relative;
    color: #fff;
  }
  .ButtonMenu {
    background: #252c3e;
    position: absolute;
    width: 50px;
    z-index: 1;
    left: -20px;
  }
  .MenuButton {
    background: #252c3e;
    margin-right: 10px;
    width: 100%;
  }
}
