.top-prague-att {
  width: 1219px;
  height: 1234px;
  margin-top: 40px;
  overflow: hidden;
 
}
.top-title {
  font-size: 22px;
  font-weight: 700;
  margin-left: 39px;
}
.carousel-container {
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 204px;
  margin-top: 40px;
  width: 1440px;
  background-color: yellow;
  
}
.swiper-container {
  width: 1219px;
  height: auto;
  display: flex;
}

.card-slide-left-icon {
  height: 20px;
  width: 20px;
  align-self: center;
  display: flex;
  background-image: url(../images/left-icon.png);
  cursor: pointer;
  margin-right: 10px;
}
.card-slide {
  height: 204px;
  width: 270px;
  background-color: blue;
  border-radius: 10px;
 
}

