.top-prague-att {
  width: 1219px;
  height: 263px;
  margin-top: 40px;
  overflow: hidden;
}
.top-title {
  font-size: 22px;
  font-weight: 700;
  margin-left: 39px;

}
.card {
  height: 204px;
  width: 270px;
  border: none;
  outline: none;
  border-width: 0;
  border-radius: 10px;
  outline: none;
  overflow: hidden;
  border: none;
}
.bumbum {
  width: 1440px;
  display: flex;
  height: 204px;
  background-color: red;
}

.card-slider-container {
  height: auto;
  position: relative;
  width: 1440px;
  overflow: hidden;
  outline: none;
  border-width: 0;
  border: none;
}
.custom-next-arrow {
  height: 250px;
  width: 50px;
  background-image: url(../images/left-icon.jpeg);
  cursor: pointer;
}
.custom-prew-arrow {
  height: 20px;
  width: 20px;
  background-image: url(../images/left-icon.jpeg);
  cursor: pointer;
}

/* .card-slide-right-icon {
  height: 20px;
  width: 20px;
  align-self: center;
  justify-content: flex-end;
  display: block;
  background-image: url(../images/left-icon.png);
  cursor: pointer;
  background-color: red;
} */
