.customer {
  display: flex;
  justify-content: center;
  background-color: gren;
}
.swiper-info{
  display: none;
}
.customer-container {
  height: 100%;
  width: 1140px;
  margin-left: 20px;
  margin-top: 40px;
}
.title-container {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: space-between;
}
.title-stars-rating {
  justify-content: flex-end;
  height: 24px;
  width: auto;
  display: flex;
  flex-direction: row;
}
.customer-title {
  font-family: Open Sans Bold, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
  text-transform: uppercase;
  color: #252c3e;
}

.customer-card {
  width: 367px;
  min-height: 255px;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #f9f9fb;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}
.customer-card.expanded {
  white-space: normal;
  max-height: none;
}
.customer-wrapper {
  width: 100%;
  min-height: 278px;
  height: 100%;
}
.customer-wrapper-content {
  width: 1188px;
  height: auto;
  display: flex;
  align-items: center;
}
.customer-card-header {
  margin-left: 32px;
  padding-top: 15px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.stars-rating {
  width: 120px;
  height: 24px;
  display: flex;
  flex-direction: row;
}
.star {
  height: 24px;
  width: 24px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.customer-summary {
  font-family: Open Sans Bold, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  margin-top: 12px;
  color: #252c3e;
}
.customer-date {
  font-family: Open Sans Semibold, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #252c3e;
  opacity: 0.9;
  margin-top: 10px;
}
.customer-body {
  flex-grow: 1;
  width: 318px;
  height: 100px;
  margin-left: 32px;
  margin-top: 11px;
}
.customer-text {
  font-family: Open Sans, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #252527;
  word-wrap: break-word;
}

.more-less-button {
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
  color: #252c3e;
  cursor: pointer;
  margin-left: 5px;
}
.customer-footer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding-top: 27px;
  margin-right: 15px;
  margin-left: 32px;
  padding-bottom: 21px;
}
.customer-data {
  font-family: Open Sans, sans-serif;
  font-weight: 400;
  opacity: 0.6;
}
.see-traslation {
  cursor: pointer;
  min-width: 90px;
  margin-left: auto;
  font-family: Open Sans Semibold, sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  color: #252c3e;
}
.pagination-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 18px;
  column-gap: 20px;

}
.pagination-button {
  min-width: 190px;
  padding: 0 20px;
  height: 48px;
  background: #fff;
  border: 1px solid #252c3e;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: Open Sans Bold, sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #252c3e;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .title-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
    margin-left: 10px;
  }
  .customer-container {
    height: auto;
    width: 100%;
    margin: 0;
  }
  .customer-wrapper {
    display: flex;
    align-items: center;

    width: 100%;
    height: 300px;
    max-width: 768px;
    margin-left: 10px;

  }
  .pagination-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
    margin-top: 15px;
  }
  .pagination-button {
    padding: 0;
    width: auto;

    margin-left: 10px;
    margin-right: 20px;
  }
  .customer-icon {
    display: none;
  }
  .title-stars-rating {
    flex-direction: row-reverse;
    column-gap: 10px;
    margin-bottom: 10px;
  }
  .customer-card {
    max-width: 631px;
    width: 100%;
    min-height: 255px;
    height: auto;
    display: flex;
    flex-direction: column;
    background: #f9f9fb;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
  }
  .customer-body {
    height: 100px;
    width: 100%;
    margin-left: 13px;
    margin-right: 13px;
  }
  .customer-body-text {
    font-family: Open Sans, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #252527;

    word-wrap: break-word;
  }
  .customer-summary {
    font-family: Open Sans Bold, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    margin-top: 12px;
    color: #252c3e;
  }
  .customer-card-header {
    margin-left: 10px;
    padding-top: 12px;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .customer-footer {
    margin-left: 10px;
  }
  .swiper-info {
    height: 150;
    width: 100%;
    position: absolute;
display: flex;
flex-direction: row;
column-gap:4px;
    justify-content: center;
    align-self: flex-end;
    align-items: center;
    display: flex;
    z-index: 10;
  }
  .swiper-info-text{
    color: #dbdbdb;
    font-weight: bolder;
  }
  .customer-slider {
    height: 274px;
  }
}
