.Howuse {
  display: flex;
  justify-content: center;
}
.Howuse-container {
  height: auto;
  max-width: 1140px;
  width: 100%;
}
.Howuse-title {
  font-family: Open Sans Bold, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
  line-height: 130%;
  text-transform: uppercase;
  color: #252c3e;
  margin-top: 40px;
}
.Howuse-wrapper {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  height: auto;
}

.how-use-wrapper {
  margin: 0;
  padding: 0;
  border: 0;
  height: auto;
  font: inherit;
  vertical-align: baseline;
}
.how-use-steps {
  display: grid;
  margin-top: 30px;
  column-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}
.how-use-step-new {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.how-use-step-image {
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 269px;
  height: 250px;
}
.how-use-step-number {
  margin-top: 14px;
  font-family: Open Sans Bold, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
  line-height: 29px;
  text-align: center;
  color: #252c3e;
}
.how-use-step-text {
  margin-top: 7px;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  text-align: center;
  color: #252c3e;
}

.Howuse-steps {
  display: grid;
  margin-top: 30px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}
.steps {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
}
.step-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 269px;
  height: auto;
}
.step-number {
  margin-top: 14px;
  font-family: Open Sans Bold, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
  line-height: 29px;
  text-align: center;
  color: #252c3e;
}
.step-text {
  margin-top: 7px;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  text-align: center;
  color: #252c3e;
}
.how-use-m-link {
  height: 50px;
  cursor: pointer;
  width: 180px;
  align-self: center;
  margin: " 13px";
}
.how-use-swiper {
  display: none;
}

@media screen and (max-width: 768px) {
  .how-card {
    display: none;
  }
  .how-use-swiper {
    display: flex;
    max-width: 662px;
    width: 100%;
    height: 100%;
  }
  .how-use-slide {
    max-width: 662px;
    width: 100%;
    position: relative;
    padding-right: 20px;
  }
  .Howuse-container {
    width: 100%;
    padding-right: 8px;
    padding-left: 8px;
    box-sizing: border-box;
  }
  .Howuse-title {
    font-family: Open Sans Bold, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    text-transform: uppercase;
    color: #252c3e;
  }
  .how-use-steps {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
  }
  .how-use-step-new {
    display: flex;
    max-width: 662px;
    width: 100%;
    height: auto;
  }
  .how-use-m-link {
    height: 93px;
    width: 435px;
  }
  .how-use-step-image {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 662px;
  }
  .how-use-step-text {
    width: 288px;
    line-height: 130%;
  }
}
