.footer {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  background: #252c3e;
  margin-top: 56px;
}
.footer-content {
  display: flex;
  margin-top: 42px;
  flex-direction: row;
  width: 1140px;
  min-width: 1140px;
}
.footer-content a {
  text-decoration: none;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  margin-bottom: 10px;
  display: block;
}
.footer-first-section {
  height: auto;
  list-style: none;
  display: flex;
  flex-direction: column;
}
li::before {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  list-style: none;
}
.footer-button {
  width: 87px;
  border-width: 0;
  background-color: #fb5a03;
  font-size: 15px;
  color: white;
  border-radius: 5px;
  height: 48px;
  align-self: center;
  cursor: pointer;
}
.app-store {
  background: url(../images/app-store.png) 50% no-repeat;
  background-size: cover;
  margin-bottom: 10.67px;
  width: 157.13px;
  height: 45px;
  padding-right: 2px;
  cursor: pointer;
  background-position: center;
}
.play-store {
  background: url(../images/play-store.png) 50% no-repeat;
  background-size: cover;
  margin-bottom: 10.67px;
  width: 157.13px;
  height: 45px;
  padding-right: 2px;
  cursor: pointer;
  background-position: center;
}

.footer-input {
  height: 48px;
  width: 200px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  overflow: hidden;
  border-width: 0;
}
.footer-icon {
  height: 20px;
  width: 20px;
  cursor: pointer;
  align-self: center;
  margin-right: 10px;
}
.footer-subs-button {
  width: 110px;
  border: none;
  background-color: #fb5a03;
  font-size: 15px;
  color: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 50px;
  align-self: center;
  cursor: pointer;
}
.footer-year-info {
  margin-top: 14px;
  margin-bottom: 5px;
  font-family: Open Sans Bold, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 30px;
  color: #fff;
}
.footer-info {
  font-family: Open Sans Bold, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 30px;
  color: #fff;
}
.rights-reserved-block {
  width: 348px;
  height: 32px;
  margin-top: 51px;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #f9f9fb;
}
@media screen and (max-width: 768px) {
  .footer {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    background: #252c3e;
    margin-top: 56px;
  }
  .footer-content {
    display: flex;
    margin-top: 42px;
    flex-direction: column;
    width: 100%;
    max-width: 768px;
    row-gap: 0;
  }
}
